body {
    background-color: #F27A0F;

}
h1{
    font-size: 75px;
    font-family: 'Anton', sans-serif;
    margin-top: 81px;
}

.primary-content{
    padding-top: 25px;
    clear: both;
}
.jumbotron{
    height: 500px;
    width: 100%;
    background-color: #8E7F71;
}
.main-header{
    padding-top: 20px;
}

.name {
    font-size: 28px;
    margin-top: 10px;
    font-family: 'Anton', sans-serif;
}


.profile-img{
    padding: 20px;

}
/* Personal bio */
.header-name{
    font-size: 36px;
    font-family: 'Anton', sans-serif;
}

.bio{
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

.right-list{
    clear:both;
    font-size: 28px;;
    padding:15px;
    margin-top:10px;
    list-style-type: none;

}
.left-list{
    clear: both;
    font-size: 28px;
    padding:15px;
    margin-top:10px;
    list-style-type: none;
}

.contact{
    list-style: none ;
    text-align: center;
}

/* Id selectors */

#head-2{
    font-family: 'Russo One', sans-serif;
    text-align: center;
}
#head-3{
    font-family: 'Russo One', sans-serif;
    text-align: center;
}